@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap);
* {
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: "mcafeeOpenSans", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

html,
body {
    background-color: #f5f6fa;
    font-family: "Open Sans", "mcafeeOpenSans", Arial, Helvetica, sans-serif;
    line-height: 1;
    height: 100%;
    width: 100%
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

b {
    font-weight: bold
}

.popover-wrapper {
    left: -1000px;
    position: absolute;
    visibility: hidden;
    z-index: 9999
}

.popover {
    left: 0;
    position: relative;
    width: 469px
}

.popover__arrow {
    bottom: -15px;
    height: 16px;
    left: 12px;
    overflow: hidden;
    position: absolute;
    vertical-align: middle;
    width: 18px;
    z-index: 1000
}

.popover__arrow .arrow__outer {
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    border-top: 9px solid #c8d0de;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0
}

.popover__arrow .arrow__inner {
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    border-top: 9px solid #fff;
    height: 0;
    left: 0;
    position: absolute;
    top: -2px;
    width: 0
}

.popover__content {
    background-color: #fff;
    border: 1px solid #c8d0de;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .3);
    border-radius: 24px;
    color: #5a6175;
    font-size: 16px;
    line-height: 24px;
    overflow: auto;
    padding: 18px
}

.popover__content h3 {
    color: #212934;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 0
}

.popover__content h3 img {
    margin-left: 2px
}

a:hover {
    cursor: pointer
}

.body {
    background-color: #d8e5fd
}

img.wave {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%
}

.logo__container {
    display: flex
}

.logo {
    padding: 48px 148px
}

.container {
    z-index: 20;
    position: relative
}

.container>.site-status {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px -1px 4px rgba(55, 124, 251, .12), 0px 6px 12px rgba(55, 124, 251, .16);
    border-radius: 24px;
}

.container>.site-status .site-status__side-logo {
    display: block;
    justify-content: center;
    padding-left: 36px;
    width: 100%;
}

.container>.site-status .site-status__content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    padding: 32px 48px 16px 48px;
    flex: 66%
}

.container>.site-status .site-status__content .content__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    max-width: 508px;
    padding-bottom: 50px
}

.container>.site-status .site-status__content .content__description .description-link {
    color: #4258ff;
    text-decoration: none
}

.container>.site-status .site-status__content .content__description p {
    color: #5a6175;
    font-size: 18px
}

.container>.site-status .site-status__content .content__description .description__header {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold
}

.container>.site-status .site-status__content .content__description .description__header p {
    font-size: 28px
}

.container>.site-status .site-status__content .content__description .description__header .header__status--state {
    display: flex;
    flex-wrap: nowrap
}

.container>.site-status .site-status__content .content__description .description__header .header__status--text {
    color: #212934
}

.container>.site-status .site-status__content .content__description .description__header .status__rating--danger {
    color: #ff3838
}

.container>.site-status .site-status__content .content__description .description__header .status__rating--warning {
    color: #ff7900
}

.container>.site-status .site-status__content .content__description .description__header .status__rating--unknown {
    color: #a19c9c
}

.container>.site-status .site-status__content .content__description .description__header .status__rating--safe {
    color: #3da288
}

.container>.site-status .site-status__content .content__description .description__url {
    margin-top: 9px;
    font-weight: 600
}

.container>.site-status .site-status__content .content__description .description__url p {
    width: 100%;
    word-wrap: break-word
}

.container>.site-status .site-status__content .content__description .description__body {
    margin-top: 24px;
    max-width: 437px
}

.container>.site-status .site-status__content .content__description .description__body p {
    font-size: 18px;
    line-height: 28px
}

.container>.site-status .site-status__content .content__description .description__categories {
    font-size: 16px;
    margin-top: 17px;
    text-align: center
}

.container>.site-status .site-status__content .content__description .description__categories ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 7px;
    padding: 0
}

.container>.site-status .site-status__content .content__description .description__categories ul li {
    align-items: center;
    background-color: #e6e9f0;
    border-radius: 24px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
    padding: 3px 7px 3px 7px
}

.container>.site-status .site-status__content .content__description .description__categories .category {
    color: #4a4f5d;
    font-weight: 600;
    mix-blend-mode: normal;
    padding: 0 5px
}

.container>.site-status .site-status__content .content__description .description__categories .category-image {
    display: inline-block
}

.container>.site-status .site-status__content .content__description .description__categories .category-info {
    padding: 1px 3px 0 3px;
    vertical-align: middle
}

.description__search-input {
    border: 1px solid #b1babf;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 24px
}

.description__search-input:focus-within {
    outline-color: #4d90fe;
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 1px
}

.description__search-input input {
    font-size: 14px;
    height: 40px;
    text-indent: 8px;
    width: 100%
}

.description__search-input input:focus {
    outline: none
}

.description__search-input img {
    margin: 0 8px
}

.description__search-input img:hover {
    cursor: pointer
}

.search__suggest {
    border: 1px solid #b1babf;
    border-radius: 4px;
    position: fixed;
    top: 470px;
    z-index: 100;
    width: 435px;
    background-color: #fff;
    overflow: auto;
    cursor: pointer
}

.search__suggest ul {
    padding: 0;
    margin: 0
}

.search__suggest li {
    list-style: none;
    padding-left: 10px;
    line-height: 26px
}

.search__suggest .selected {
    background-color: #e7e9f3
}

.description__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.description__actions .actions__decline,
.description__actions .actions__accept {
    border-radius: 100px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    height: 44px;
    line-height: 42px;
    min-width: 172px;
    padding: 0 4px;
    text-align: center;
    text-decoration: none
}

.description__actions .actions__accept {
    border: 2px solid #4258ff;
    color: #4258ff;
    margin-right: 28px
}

.description__actions .actions__decline {
    background-color: #4258ff;
    border: 1px solid #4258ff;
    color: #fff
}

.description__actions .actions__link {
    color: #4258ff;
    text-decoration: none;
    margin-right: 28px;
    font-weight: 600;
    font-size: 16px
}

.content__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px
}

.content__footer p {
    color: #6d7895;
    font-size: 12px
}

.site-status__submit_ticket {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center
}

.site-status__submit_ticket .submit_ticket__bubble {
    background: #fff;
    box-shadow: 0px -1px 4px rgba(55, 124, 251, .12), 0px 6px 12px rgba(55, 124, 251, .16);
    border-radius: 16px 16px 0px 0px;
    height: 40px;
    line-height: 40px;
    padding: 0px 16px
}

.site-status__submit_ticket .submit_ticket__bubble p {
    font-size: 16px;
    color: #212934
}

.site-status__submit_ticket .submit_ticket__bubble p a {
    color: #4258ff;
    text-decoration: none
}

input#settings_whitelist_input {
    border: 1px solid black;
    width: 100%;
    padding: 15px;
    margin: 0px;
}

.whitelist__container {
    padding: 15px;
}